.slate-editor {
  box-sizing: border-box;
  padding: 3px;
  overflow-y: auto;

  strong {
    font-weight: bold;
  }
  em {
    font-style: italic;
  }
  blockquote {
    border-left: 2px solid #ddd;
    margin-left: 0;
    margin-right: 0;
    padding-left: 10px;
    color: #aaa;
  }
  .text-color {
    // allow selected text color to be set from JavaScript via CSS variable
    &::selection {
      color: var(--selected-color);
    }
  }
  img {
    display: inline-block;
    max-width: 100%;
  }
}
