@use "./dialog-vars.scss" as vars;

.ccrte-modal-dialog {
  .ccrte-dialog {
    position: fixed;
    left: calc(50% - #{vars.$dialogWidth} / 2);
    top: calc(50% - #{vars.$dialogHeight} / 2);
    display: flex;
    flex-direction: column;
    width: vars.$dialogWidth;
    border: 2px solid #B3B3B3;
    border-radius: 6px;
    box-shadow: -2px 2px 5px grey;
    background-color: white;
    z-index: 100;
  }
}
