.editor-toolbar {
  // https://www.webomelette.com/css-float-parent-container-child-element-hight-width
  display: inline-block;

  .editor-toolbar-container {

    display: flex;
    flex-wrap: wrap;
    padding: 2px;
    background-color: #dfdfdf;

    &.vertical {
      flex-direction: column;
    }

    .toolbar-button {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #dfdfdf;
      cursor: pointer;

      .toolbar-icon-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;

        input[type="color"] {
          padding: 0;
        }

        // fix color picker input appearance on Firefox
        // cf. https://css-tricks.com/color-inputs-a-deep-dive-into-cross-browser-differences/
        input[type="color"]::-moz-color-swatch {
          width: 8.5px;
          height: 8.5px;
          margin-top: 1.5px;
          margin-left: -2.5px;
        }
      }
    }
  }
}
