.editor-toolbar {
  // https://www.webomelette.com/css-float-parent-container-child-element-hight-width
  display: inline-block;
  background-color: #dfdfdf;

  .editor-toolbar-container {

    display: flex;
    padding: 2px;

    &.vertical {
      flex-direction: column;
    }

    .toolbar-button {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #dfdfdf;

      .toolbar-icon-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
